<h1 class="page-title">Page Home</h1>
<a routerLink="/admin">Go to Admin</a>

<div class="items-wrapper">
  <div class="item"
       *ngFor="let item of items"
       [ngStyle]="{
       'width': item.width + 'px',
       'height': item.width + 'px',
       'left': item.xCoordinate + '%',
       'top': item.yCoordinate + '%',
       'background-color': item.color
       }"
       (click)="openModal('edit-item', item)">
    <span class="item__remove-button" (click)="removeItem(item)">Х</span>
  </div>
</div>

<modal id="edit-item">
  <div class="modal">
    <div class="modal-body">
      <h1 class="modal-body__title">Edit item</h1>
      <form class="item__form" [formGroup]="itemFormGroup">
        <label for="x">Item xCoordinate:</label>
        <input id="x" placeholder="Enter item xCoordinate" formControlName="xCoordinate" />
        <label for="y">Item yCoordinate:</label>
        <input id="y" placeholder="Enter item yCoordinate" formControlName="yCoordinate" />
        <label for="color">Item color (hex):</label>
        <input id="color" placeholder="Enter item color in hex" formControlName="color" />
        <label for="width">Item width (px):</label>
        <input id="width" placeholder="Enter item width in pixels" formControlName="width" />
        <button (click)="updateItem()">Send</button>
      </form>

      <button class="modal__close" (click)="closeModal('edit-item');"></button>
    </div>
  </div>
  <div class="modal-background"></div>
</modal>
