.items-wrapper {
  max-width: 1366px;
  height: 800px;
  margin: 0 auto;

  position: relative;

  border: 1px solid red;

  .item {
    position: absolute;
    transform: translate(-50%, -50%);

    border-radius: 100%;

    &__remove-button {
      position: absolute;
      top: -20px;
      right: -20px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
