// Global styles
.page-title {
  text-align: center;
}

label {
  display: block !important;
}

modal {
  display: none;

  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 1000;

    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .modal-body {
      width: 400px;
      padding: 20px;

      position: relative;

      background: #1c1e23;
      border: 1px solid #cacaca;
      border-radius: 4px;

      color: #cacaca;

      @media (max-width: 812px) {
        width: 16rem;
        overflow-y: scroll;
      }

      &__title {
        text-align: center;
        font-weight: 400;
        font-size: 30px;
      }
    }

    &__close {
      width: 26px;
      height: 26px;
      padding: 0;

      position: absolute;
      top: 20px;
      right: 20px;

      background: url("/assets/icons/icon-cancel.svg") no-repeat transparent;
      background-size: cover;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #16181c;
    opacity: 0.75;

    z-index: 900;
  }
}

body.modal-open {
  overflow: hidden;
}
