<h1 class="page-title">Page Admin</h1>

<form [formGroup]="newItemFormGroup">
  <label for="x">Item xCoordinate:</label>
  <input id="x" placeholder="Enter item xCoordinate" formControlName="xCoordinate"/>
  <label for="y">Item yCoordinate:</label>
  <input id="y" placeholder="Enter item yCoordinate" formControlName="yCoordinate"/>
  <label for="color">Item color (hex):</label>
  <input id="color" placeholder="Enter item color in hex" formControlName="color"/>
  <label for="width">Item width (px):</label>
  <input id="width" placeholder="Enter item width in pixels" formControlName="width"/>
  <button (click)="addItem()" [disabled]="newItemFormGroup.invalid">Send</button>
</form>
